* {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #222;
}

/*body {
	background-color: blue;
}*/

h1{
	margin: 50px 0;
}

h3,
h4 {
	margin: 30px 0;
}

form {
	margin: 30px 0 10px;
}

.form-group {
	margin-bottom: 10px;
}

strong {
	color: #E23D3D;
}

#user-score {
	color: green;
}

img {
	max-width: 250px;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.presidents-left {
	border: 10px solid #222;
	margin-top: 50px;
	margin-bottom: 5%;
}

input {
	text-align: left;
}

input,
button {
	width: 90%;
	max-width: 300px;
	margin: 0 auto;
}

.row > div {
	float: left;
	padding: 10px;
}

.president-name {
	width: 33%;
	display: inline-block;
	text-align: center;
	padding: 10px;
}

@media(max-width: 800px) and (min-width: 401px) {
	.president-name {
		width: 50%;
	}
}

@media(max-width: 400px) {
	.president-name {
		width: 100%;
	}
}